<!DOCTYPE html>
<html>
  <head>
    <title>Products</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Products</h1>

    <a href="/products/new"> Add a New Product </a>

    <ul>
      <% products.forEach((oneProduct) => { %>
        <li>
          <h2> <%= oneProduct.name %> </h2>
          <p>$ <%= oneProduct.price %> </p>

          <a href="/products/<%= oneProduct._id %>">
            See Product Details
          </a>

          <a href="/products/<%= oneProduct._id %>/edit">
            Edit
          </a>

          <form action="/products/<%= oneProduct._id %>/delete" method="post">
            <button type="submit"> Delete </button>
          </form>
        </li>
      <% }) %>
    </ul>
  </body>
</html>
