<!DOCTYPE html>
<html>
  <head>
    <title>Products</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Product Details</h1>

    <h2> <%= product.name %> </h2>

    <p>$ <%= product.price %> </p>

    <img src="<%= product.imageUrl %>">

    <p> <%= product.description %> </p>

    <a href="/products/<%= product._id %>/edit">
      Edit
    </a>

    <form action="/products/<%= product._id %>/delete" method="post">
      <button type="submit"> Delete </button>
    </form>
  </body>
</html>
